<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rentjunction">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RentJunction"
        tools:targetApi="31">
        <activity
            android:name="com.example.rentjunction.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rentjunction.Home"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.rentjunction.MainTask1"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName="com.example.rentjunction.Home" />
        <activity
            android:name="com.example.rentjunction.MainTask2"
            android:exported="false"
            android:parentActivityName="com.example.rentjunction.Home" />
        <activity
            android:name="com.example.rentjunction.MainTask3"
            android:exported="false"
            android:parentActivityName="com.example.rentjunction.Home" />
        <activity
            android:name="com.example.rentjunction.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.rentjunction.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.rentjunction.ResetPassword"
            android:exported="false" />
        <activity
            android:name="com.example.rentjunction.EducateCard1"
            android:exported="false" />
        <activity
            android:name="com.example.rentjunction.EducateCard2"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>